@page
@model ProjectPRN221.Pages.Users.DeleteOrderModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <form method="post">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./ManageOrder">Back to List</a>
    </form>
</div>
